body {
  color: rgb(230,235,245);
  background: linear-gradient(
    85deg,
    rgb(50,50,50),
    rgb(80,80,80),
    rgb(110,110,110)
  );
  font-family: "Monaco";
  font-size: 18px;
}

main {
  margin-left: 31%;
}

#main-doc header {
  font-family: Verdana;
  font-size: 25px;
  margin-top: 40px;
  margin-right: 20px;
  padding: 6px 4px;
  border-bottom: solid;
  border-top: solid;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 30%;
  height: 100%;
  min-width: 200px;
  background: linear-gradient(
    45deg,
    rgb(30,40,85),
    rgb(10,20,65)
  );
}

#navbar header {
  font-family: Verdana;
  font-size: 30px;
  text-align: center;
  margin: auto 10px;
  padding: 35px 0;
  border-top: transparent;
}

#navbar ul {
  list-style: none;
  font-family: sans-serif;
  font-size: 20px;
  padding: 0;
}

#navbar li {
  text-align: center;
  padding: 8px;
}

#navbar li a {
  font-style: normal;
  color: inherit;   
  text-decoration: inherit;
}

#Overview_and_Installation header {
  margin-top: 30px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

code {
  display: block;
  background: linear-gradient(
    45deg,
    rgb(30,40,85),
    rgb(10,20,65)
  );
  padding: 10px;
  margin: 15px 10px 15px 0;
}

@media only screen and (max-width: 655px) {

  .hide {
    overflow: hidden;
    position: relative;
  }
  
  #navbar {
    position: absolute;
    height: 100px;
    width: 100px;
    right: -50px;
    top: 50px;
  }

  main {
    margin-left: 10px;
  }
}
